{% for message in messages %}
<div class="chat {% if message.chat_type == 'user' %}chat-end{% else %}chat-start{% endif %}">
    <div class="chat-header">
        {{ 'You' if message.chat_type == 'user' else 'Chatbot' }}
        <time class="text-xs opacity-50">{{ message.TIMESTAMP.strftime('%I:%M %p') }}</time>
    </div>
    <div class="chat-bubble {% if message.chat_type == 'user' %}chat-bubble-primary{% else %}chat-bubble-secondary{% endif %}">
        {{ message.message }}
    </div>
</div>
{% endfor %}
